*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(#716dbd, #32b5d0);
}
.main {
    background: linear-gradient(#716dbd, #32b5d0);
    height: 100%;
}

.div{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.div h1{
    position: absolute;
    margin-top: 50px;
    left: 150px;
    font-size: 50px;
    color: white
}
.imagenfondo{
    width: auto;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.botones #inputBuscar{
    border: solid blue;
    padding: 10px;
    margin: 5px;
}
.botones #botonBuscar{
    padding: 10px;
    margin: 5px;
    color: black;
}
.botones #botonAgregar{
    padding: 10px;
    margin: 5px;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: column;
    align-items: center;
}

#searchContainer{
    align-items: center;
    padding: 10px;
}
#searchContainer div{
    margin: 10px;
}

form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#newContainer div{
    margin: 5px;
}

#labels{
    margin: 10px;
    font-size: 20px;
    padding: 10px;
}
#nombre-input{
    border: solid black 2px;
}
#precio-input{
    border: solid black 2px;
}
#stock-input{
    border: solid black 2px;
}
#size-input{
    border: solid black 2px;
}

form #agregarForm{
    margin: 10px;
}

#botonCarrito{
    width: 80%;
    display: flex;
    align-self: center;
}



.tazasJarras{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(10px, auto);
    align-content: center;
    justify-content: center;
}

.remeras{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(10px, auto);
    align-content: center;
    justify-content: center;
}


.iconocarrito{
    width: 25px;
    position: relative;
}
.contador-productos{
    position: absolute;
    background-color: black;
    color: whitesmoke;
}
.iconox{
    width: 15px;
}

