*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(#716dbd, #32b5d0);
}
.mainindex {
    background: linear-gradient(#716dbd, #32b5d0);
    height: 100%;
}

.div{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.div h1{
    position: absolute;
    margin-top: 50px;
    left: 150px;
    font-size: 50px;
    color: white
}
.imagenfondo{
    width: auto;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.botones #inputBuscar{
    border: solid blue;
    padding: 10px;
    margin: 5px;
}
.botones #botonBuscar{
    padding: 10px;
    margin: 5px;
    color: black;
}
.botones #botonAgregar{
    padding: 10px;
    margin: 5px;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: column;
    align-items: center;
}

#searchContainer{
    align-items: center;
    padding: 10px;
}
#searchContainer div{
    margin: 10px;
}

form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#newContainer div{
    margin: 5px;
}

#labels{
    margin: 10px;
    font-size: 20px;
    padding: 10px;
}
#nombre-input{
    border: solid black 2px;
}
#precio-input{
    border: solid black 2px;
}
#stock-input{
    border: solid black 2px;
}
#size-input{
    border: solid black 2px;
}

form #agregarForm{
    margin: 10px;
}

#botonCarrito{
    width: 80%;
    display: flex;
    align-self: center;
}

.contenedorcardhtml{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(10px, auto);
    margin: 10px;
    align-content: center;
    justify-content: center;
}

.container-icon{
    position:  relative;
    
}
.count-products{
    position: absolute;
    top: 30%;
    margin-left: 13px;
    background-color: black;
    color: whitesmoke;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.iconocarrito{
    width: 25px;
}
.iconocarrito:hover{
    cursor: pointer;
}
.container-cart-products{
    position: absolute;
    top: 40px;
    right: 5;
    background-color: white;
    width: 300px;
    z-index: 1;
    box-shadow: 0 10px 20px;
    border-radius: 10px;
}
.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid;
}
.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}
.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}
.titulo-producto-carrito{
    font-size: 20;
}
.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}
.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    gap: 20px;
}
.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hiddencart{
    display: none;
}
.iconox{
    width: 25px;
    height: 25px;
}
.iconox:hover{
    stroke: bisque;
    cursor: pointer;
}

